<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--设置别名-->
    <typeAliases>
        <package name="com.zhazha.pojo"/>
    </typeAliases>
    <!--在spring-dao中写了自动扫描mapper下的xml，此处不写也能运行成功-->
    <mappers>
        <mapper resource="com/zhazha/mapper/Usermapper.xml"/>
        <mapper resource="com/zhazha/mapper/Ordermapper.xml"/>
        <mapper resource="com/zhazha/mapper/Managermapper.xml"/>
        <mapper resource="com/zhazha/mapper/Bookmapper.xml"/>
    </mappers>

</configuration>